* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: #303030;
    font-family: sans-serif;
    color: #d0d0d0;
}

.top-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .main-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.top-calendar h1 {
    color: #bd0000;
    font-size: 40px;
}

.btn-navigation {
    cursor: pointer;
    background-color: #219bd7;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
}

.btn-navigation:disabled {
    cursor: not-allowed;
    background-color: rgba(33, 155, 215, 0.62);
}

#calendar .day-box,
.days-of-week span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    padding: 0 10px;
    text-align: center;
    width: calc(100% / 7);
    height: 70px;
}

.days-of-week span {
    border-bottom: 1px solid #fff;
}

#calendar .day-box,
#nome-mese {
    text-transform: capitalize;
}

.festivo {
    color: red;
}
